* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(241, 241, 241);
    --secondary-color: rgb(21, 21, 21);
    --nav-color: white;
    --primary-text-color: rgb(40, 39, 39);
    --secondary-text-color: rgb(240, 240, 240);
    --footer-text-color: rgb(149, 149, 149);
}

html,
body {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;

}

body {
    background-color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: flex-end;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: var(--nav-color);
}

.logo-a {
    margin-right: auto;
}

.logo {
    position: absolute;
    top: 15%;
    left: 2%;
    width: 200px;
    transition: opacity 0.3s ease;
}

.logo-dark {
    opacity: 1;
}

.logo-light {
    opacity: 0;
}

header.scrolled .logo-dark {
    opacity: 0;
}

header.scrolled .logo-light {
    opacity: 1;
}

.nav-text {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 20px;
    padding-right: 50px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar.scrolled .nav-text {
    color: black;
}


.spotify-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.nav-right a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.hero-section {
    height: 100vh;
}

.hero-vid {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top-wraps {
    background-color: var(--primary-color);
    padding: 30px;
    z-index: 1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.top-wraps h1 {
    text-align: center;
    color: var(--primary-text-color);
}

.artist-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.artist-article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.artist-article img:hover {
    transform: scale(1.05);
}

.artist-article p {
    font-weight: bold;
    color: var(--primary-text-color);
}

.info-section-wrapper {
    z-index: 1;
    background-color: var(--secondary-color);
}

.info-section {
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    gap: 100px;
}

.artist-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artist-info-text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 50%;
}

.artist-info-text-right h2,
.artist-info-text-right h3,
.artist-info-text-right p,
.artist-info-text-left h2,
.artist-info-text-left h3,
.artist-info-text-left p {
    color: var(--secondary-text-color);
    max-width: 600px;
    margin: 40px 0;
}

.artist-info-text-right h2,
.artist-info-text-right h3,
.artist-info-text-right p {
    max-width: 600px;
    margin: 40px 0;
    text-align: right;
}

.artist-info-text-right h2,
.artist-info-text-left h2 {
    font-size: 80px;
}

.artist-info-text-right h3,
.artist-info-text-left h3 {
    font-size: 60px;
}

.artist-info-text-right h3 {
    color: rgb(44, 104, 255);
}

.artist-info-text-left h3 {
    color: rgb(144, 255, 121);
}

.artist-info-text-right p,
.artist-info-text-left p {
    font-weight: bold;
    font-size: 16px;
    width: 500px;
}

.artist-info-text-right p {
    text-align: left;
}

.artist-info-text-right a,
.artist-info-text-left a {
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.artist-card1,
.artist-card2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.artist-card1 img,
.artist-card2 img {
    width: 100%;
    max-width: 600px;
    height: 800px;
    object-fit: cover;
    border-radius: 40px;
}

.artist-card1 img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.188);
}

.artist-card2 img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.188);
}

figure {
    margin: 0;
}

.link-wrap1,
.link-wrap2 {
    display: flex;
    align-items: center;
    gap: 100px;
}

.link-wrap2 {
    justify-content: flex-end;
}

.link-icon {
    width: 20px;
    height: 20px;
}

.album-section {
    background-color: var(--primary-color);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.album-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.album-info h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#stream-now-btn,
#find-artist-btn {
    background-color: blue;
    padding: 14px 18px;
    min-width: 180px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-text-color);
    border: 2px solid blue;
    font-weight: 600;
    font-size: 20px;
}

#find-artist-btn {
    background-color: transparent;
    color: var(--primary-text-color);
    border: 2px solid blue;
}

.album-img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.album-img img {
    width: 400px;
    height: 330px;
    object-fit: cover;
}

.something {
    height: 1vh;
    z-index: 1;
    background-color: var(--secondary-color);
}

.subscribe-section {
    background-color: var(--primary-color);
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.subscribe-info {
    max-width: 500px;
}

.subscribe-title {
    display: flex;
    flex-direction: column;
}

.subscribe-title img {
    width: 800px;
    height: auto;
}

.subscribe-title h2 {
    font-size: 30px;
    color: var(--primary-text-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

.form label {
    font-weight: 600;
    font-size: 25px;
    color: var(--primary-text-color);
}

.form input {
    width: 300px;
    padding: 8px 10px;
}

.form button {
    padding: 10px;
    width: 80px;
    margin-left: auto;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
}

.checkbox-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-wrap label {
    font-size: 14px;
    color: var(--primary-text-color);
}

.checkbox-wrap input {
    width: 16px;
    height: 16px;
}

.footer {
    background-color: var(--primary-color);
    padding: 50px;
    color: var(--footer-text-color);
}